div{
    height: 200px;
    /*background-image: url("../../../assets/slike/slike/4.jpg");
    background-position: 40% 40%;*/
    background-position: 50% 90%;
}
h1,p{
    color: white;
    text-shadow: 2px 2px #242222;
    /*background-color: rgba(20, 20, 20, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;*/
}
p{
    font-size: 3vh;
}