div{
    height: 200px;
    /*background-image: url("../../../assets/slike/slike/4.jpg");*/
    background-position: 50% 90%;
}
h1,p{
    color: white;
    text-shadow: 2px 2px #242222;
}
p{
    font-size: 3vh;
}