<section class="mainHeight" fxLayout="column" fxLayoutGap="50px">
    <div>
        <div class="background-image" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'background-image': getSlika()}">
            <h1>Dostava hrane</h1>
            <p>Poručite svoju omiljenu hranu brzo i lako</p>
        </div>
    </div>
    
    <div fxLayoutAlign="center center">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    
    <div fxHide.lt-md class="restorani-pocetna" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutGap="50px">
          <h1>Najbolje ocenjeni restorani</h1>
          <div *ngFor="let red of brojRedova" fxLayout="row" fxLayoutGap="50px">
            <mat-card fxFlex="250px"  *ngFor="let kolona of brojKolona" (click)="prikaziRestoran(restorani[brKolona*red+kolona].id);">
              <img mat-card-image src="{{restorani[brKolona*red+kolona].cover}}" alt="{{restorani[brKolona*red+kolona].naziv}}">
                <mat-card-content>
                  <p class="naziv-restorana">
                    {{restorani[brKolona*red+kolona].naziv}}
                  </p>
                  <p>
                    <bar-rating [rate]="getOcena(restorani[brKolona*red+kolona].id)" [showText]="true" [readOnly]="true" [max]="5" theme="fontawesome-o"></bar-rating>
                  </p>
                </mat-card-content>
            </mat-card>    
          </div>
        </div>
    </div>

    <div fxHide.gt-sm class="restorani-pocetna" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutGap="50px">
        <h1>Najbolje ocenjeni restorani</h1>
        <div *ngFor="let red of brojRedovaManji" fxLayout="row" fxLayoutGap="50px">
          <mat-card fxFlex="350px"  *ngFor="let kolona of brojKolonaManji; let i=index" (click)="prikaziRestoran(restoraniManji[brKolonaManji*red+kolona].id);">
            <img mat-card-image src="{{restoraniManji[brKolonaManji*red+kolona].cover}}" alt="{{restoraniManji[brKolonaManji*red+kolona].naziv}}">
              <mat-card-content>
                <p class="naziv-restorana">
                  {{restoraniManji[brKolonaManji*red+kolona].naziv}} {{restoraniManji[brKolonaManji*red+kolona].ocena}}
                </p>
              </mat-card-content>
          </mat-card>    
        </div>
      </div>
  </div>
    
</section>

    
