#omiljeni-sadrzaj{
    margin-top: 50px;
}
#ima-restorana{
    margin-top: 50px;
}
.restorani{
    padding: 30px;
    background-color: #f7f7f7;
}

.naziv{
    font-weight: bold;
}

.opis{
    font-style: italic;
    font-size: 13px;
}

mat-card{
    margin-bottom: 30px;
    min-height: 100px;
}

#nemaOmiljene{
    height: 468px;
    width: 626px;
    background-image: url("../../../assets/slike/food-background.png");
}

#nemaOmiljene p{
    font-size: 22px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#logo{
    width: 90px;
}
#logo img{
    width: 100%;
}

.pointer{
    cursor: pointer;
}

/*pretraga*/
#form-pretraga{
    width: 50%;
}

#form-pretraga mat-form-field{
    width: 100%;
}

.pretraga-sadrzaj{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
}
.pretraga-sadrzaj img{
    width: 50px;
}
.pretraga-sadrzaj>div:hover{
    background-color: rgba(66, 58, 58, 0.6);
}

.prikaz-restorana-pretraga{
    width: 48%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 99;
}

.nema-trazenog-restorana{
    color: white;
}