<section class="mainHeight">
    <div id="tabela" *ngIf="podaciZaTabelu.data.length!=0">
        <div fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
                <input matInput type="text" (keyup)="filterTabele($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <mat-table [dataSource]='podaciZaTabelu' matSort>
            <ng-container matColumnDef="sifra">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Šifra</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.sifra}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="restoran">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Restoran</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.restoran}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="obroci">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Obroci</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.obroci}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cena">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Račun</mat-header-cell>
                <mat-cell class="racun" *matCellDef="let element">{{element.cena}},00 RSD</mat-cell>
            </ng-container>
            <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.datum.toLocaleDateString()}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="komentar">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Dodatni zahtevi</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.komentar}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tip">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tip}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="oceni">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell matTooltip="Ocenite narudžbinu" *matCellDef="let element">
                    <button *ngIf="!ocenjena(element.id)" mat-raised-button color="primary" (click)="oceniNarudzbinu(element.restoranId, element.id)">
                        Ocenite
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="kolone"></mat-header-row>
            <mat-row *matRowDef="let rows; columns: kolone;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="4" [pageSizeOptions]="[2,4,6,8,10]"></mat-paginator>
    </div>
    <div *ngIf="podaciZaTabelu.data.length==0" fxLayoutAlign="center center">
        <div id="prazna-tabela"  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
            <p>Trenutno nemate istoriju narudžbina</p>  
            <button mat-raised-button color="primary" routerLink="/">Naručite hranu</button>
        </div>
    </div>
</section>