.background-image{
    height: 250px;
    background-size: 100% 250%;
    background-position: 50% 35%;
}
.background-image > h1, .background-image > p{
    color: white;
    text-shadow: 2px 2px #242222;
    /*background-color: rgba(20, 20, 20, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;*/
}
.background-image > p{
    font-size: 3vh;
}

/* obroci */
mat-card{
    cursor: pointer;
    margin-bottom: 30px;
}

.obroci{
    padding: 30px;
    background-color: #f7f7f7;
}
.naziv-obroka{
    font-weight: bold;
}

.opis-obroka{
    font-style: italic;
    font-size: 13px;
}
.naziv-kategorije{
    font-size: 18px;
    font-weight: bold;
}

/* kategorije */
.kategorije-meni{
    overflow: auto;
    padding-left: 30px;
}

.kategorije-meni > div:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(126, 126, 126, 0.3);
}

.kategorije-meni > div{
    margin: 15px;
}
.kategorije-meni a{
    cursor: pointer;
    color: black;
}

.kategorije-naslov{
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}

.kategorije-meni a div{
    padding-left: 20px;
}

.kategorije-meni-fixed{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

/*info*/
.info{
    overflow: auto;
}
.info-fixed{
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
}

.info img{
    width: 90px;
}

.min-porudzbina{
    font-weight: bold;
}
