<section class="mainHeight">
    <div fxHide.lt-md fxFlex="40"></div>
    <form fxFlex="80" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="primer@mail.com" ngModel name="email" email required #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Polje mora biti popunjeno</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">E-mail nije u dobrom formatu</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input [type]="tipLozinke" matInput placeholder="Lozinka" ngModel name="lozinka" #lozinka="ngModel" required >
            <button type="button" matSuffix mat-icon-button (click)="sakrijLozinku()">
                <mat-icon>{{vidljivost}}</mat-icon>
            </button>
            <mat-error *ngIf="lozinka.hasError('required')">Polje mora biti popunjeno</mat-error>
        </mat-form-field>
        <a mat-button color="primary" (click)="zaboravljenaLozinka()">Zaboravili ste lozinku?</a>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Prijavite se</button>
        <div *ngIf="greska" fxLayout="column" fxLayoutAlign="center center">
            <mat-label> {{greskaPoruka}}</mat-label>
            <a routerLink="/registracija">Registrujte se</a>
        </div>
    </form>
    <div fxHide.lt-md fxFlex="40"></div>
</section>