<section class="mainHeight">
    <div id="ima-restorana" *ngIf="imaRestorana" fxLayout="row">
        <div fxFlex="25" fxLayout="column">
        </div>
        <div class="restorani" fxFlex="50">
            <div class="pointer" *ngFor="let restoran of restorani" fxLayout="column" (click)="prikaziRestoran(restoran.id)">
                <mat-card>
                    <mat-card-content fxLayout="row" fxLayoutGap="20px">
                        <div id="logo" fxFlex="20">
                            <img src="{{restoran.logo}}" alt="logo">
                        </div>
                        <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between start">
                            <span class="naziv">{{restoran.naziv}}</span>
                            <span class="opis">{{restoran.adrese[0].ulica}} {{restoran.adrese[0].broj}}, {{restoran.adrese[0].grad}}</span>
                            <span> 
                                <bar-rating [rate]="getOcena(restoran.id)" [readOnly]="true" [max]="5" theme="fontawesome"></bar-rating>
                            </span>
                        </div>
                        <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
                            <span class="naziv">Minimalna cena narudžbine</span>
                            <span>{{restoran.minCenaNarudzbine}} RSD</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
        <div fxFlex="25" fxLayout="column">
        </div>
    </div>
    <div *ngIf="!imaRestorana" fxLayoutAlign="center center">
        <div id="nema-restorana" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
            <p>Trenutno ne postoje restorani koji zadovoljavaju Vaše kriterijume</p>  
        </div>
    </div>  
</section>