#ima-restorana{
    margin-top: 100px;
}
.restorani{
    padding: 30px;
    background-color: #f7f7f7;
}

.naziv{
    font-weight: bold;
}

.opis{
    font-style: italic;
    font-size: 13px;
}

mat-card{
    margin-bottom: 30px;
    min-height: 100px;
}

#nema-restorana{
    height: 468px;
    width: 626px;
    background-image: url("../../../assets/slike/food-background.png");
}

#nema-restorana p{
    font-size: 22px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#logo{
    width: 90px;
}
#logo img{
    width: 100%;
}

.pointer{
    cursor: pointer;
}