mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
    background-color:white;
}
mat-sidenav{
    width: max-content;
    padding: 1em;
    background-color: whitesmoke;
}

a{
    color:white;
    text-decoration: none;
}
a:hover, a:active{
    color: lightgray;
}

mat-toolbar:first-child{
    height: max-content;
    padding: 0.5em;
}

mat-toolbar:last-child {
    height: max-content;
    padding: 15px 0px 0px 0px;
}
mat-toolbar:last-child div a{
    font-size: 30px;
    margin:5px 20px;
}

mat-toolbar:last-child p{
    margin-top: 0px;
}

img{
    width: 150px;
    height: 50px;
}

.logo{
    margin-left: 5vh;
}
.prijava-registracija{
    margin-right: 5vh;
}

#meni{
    padding-left: 20px;
    padding-right: 20px;
}

.cookie{
    position: fixed;
    background-color: darkslategrey;
    color: white;
    bottom: 0px;
    padding-top: 50px;
    padding-bottom: 75px;
    font-size: 16px;
    z-index: 999;
}

#navigacija{
    width: 100%;
}