<mat-sidenav-container>
    <mat-sidenav #sidenav position="end" opened="false">
        <mat-nav-list>
            <a *ngIf="!ulogovan" mat-list-item routerLink="/" (click)="sidenav.close()">
                <mat-icon>home</mat-icon>
                Početna
            </a>
            <a *ngIf="!ulogovan" mat-list-item routerLink="/prijava" (click)="sidenav.close()">
                <mat-icon>input</mat-icon>
                Prijavite se
            </a>
            <a *ngIf="!ulogovan" mat-list-item routerLink="/registracija" (click)="sidenav.close()">
                <mat-icon>person_outline</mat-icon>
                Registrujte se
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/profil" (click)="sidenav.close()">
                <mat-icon>person_outline</mat-icon>
                {{prijavljenKorisnikIme}}
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/narudzbine" (click)="sidenav.close()">
                <mat-icon matBadge="{{neocenjeneNarudzbine()}}" matBadgeColor="warn">list</mat-icon>
                Narudžbine
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/omiljena-hrana" (click)="sidenav.close()">
                <mat-icon>fastfood</mat-icon>
                Omiljena hrana
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/omiljeni-restorani" (click)="sidenav.close()">
                <mat-icon>restaurant</mat-icon>
                Omiljeni restorani
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/adrese" (click)="sidenav.close()">
                <mat-icon>location_on</mat-icon>
                Adrese
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/utisci" (click)="sidenav.close()">
                <mat-icon>star_outline</mat-icon>
                Utisci
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/korpa" (click)="sidenav.close()">
                <mat-icon>shopping_cart</mat-icon>
                Korpa
            </a>
            <a *ngIf="ulogovan" mat-list-item routerLink="/" (click)="sidenav.close(); odjaviSe()">
                <mat-icon>exit_to_app</mat-icon>
                Odjavite se
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <mat-toolbar color="primary">
            <div fxFlex="100" fxHide.gt-sm>
                <div fxFlex fxFlexLayout="center">
                    <a fxLayoutAlign="center center"routerLink="/"matTooltip="Početna stranica - pretraga hrane"><img src="../assets/slike/logo.png" alt="logo"></a>
                </div>
                <button  mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            
            <div id="navigacija" fxHide.lt-md fxLayout="row" fxLayoutAlign="space-between center">
                <div class="logo">
                    <a routerLink="/"matTooltip="Početna stranica - pretraga hrane"><img src="../assets/slike/logo.png" alt="logo"></a>
                </div>
                <div id="meni">
                    <button *ngIf="ulogovan" mat-button routerLink="/profil">
                        <mat-icon>person_outline</mat-icon>
                        {{prijavljenKorisnikIme}}    
                    </button>
                    <button   *ngIf="ulogovan" mat-button routerLink="/narudzbine">
                        <mat-icon matBadge="{{neocenjeneNarudzbine()}}" matBadgeColor="warn">list</mat-icon>
                        Narudžbine   
                    </button>
                    <button *ngIf="ulogovan" mat-button routerLink="/omiljena-hrana">
                        <mat-icon>fastfood</mat-icon>
                        Omiljena hrana   
                    </button>
                    <button *ngIf="ulogovan" mat-button routerLink="/omiljeni-restorani">
                        <mat-icon>restaurant</mat-icon>
                        Omiljeni restorani   
                    </button>
                    <button *ngIf="ulogovan" mat-button routerLink="/adrese">
                        <mat-icon>location_on</mat-icon>
                        Adrese  
                    </button>
                    <button *ngIf="ulogovan" mat-button routerLink="/utisci">
                        <mat-icon>star_outline</mat-icon>
                        Utisci  
                    </button>
                    <button *ngIf="ulogovan" mat-button routerLink="/korpa">
                        <mat-icon>shopping_cart</mat-icon>
                        Korpa 
                    </button>
                </div>
    
                <div class="prijava-registracija"  fxLayoutGap="30px">
                    <button *ngIf="!ulogovan" mat-button routerLink="/prijava">Prijavite se</button>
                    <button *ngIf="!ulogovan" mat-raised-button color="warn" routerLink="/registracija">Registrujte se</button>
                    <button *ngIf="ulogovan" mat-raised-button color="warn" routerLink="/" (click)="odjaviSe()">Odjavite se</button>
                </div>
            </div>
        </mat-toolbar>
               
        <router-outlet></router-outlet>

        <mat-toolbar *ngIf="!kolacici" class="cookie" fxLayout="column" fxLayoutAlign="center center">
                <p>Koristimo alate kao što su kolačići u analitičke i marketinške svrhe.</p>
                <button color="warn" mat-raised-button (click)="prihvatiKolacice()">Prihvatam</button>
        </mat-toolbar>

        <app-scroll></app-scroll>

        <mat-toolbar color="primary" fxLayout="column">
            <div fxLayoutAlign="center center">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
            <div fxLayoutAlign="center center"> 
                <p>2020 &copy; COPYRIGHT </p>   
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>