<div class="mainHeight">
    <div class="cover">
        <div class="background-image"  fxLayout="column" fxLayoutAlign="center center" [ngStyle]="{'background-image': getSlika()}">
            <h1>{{restoran.naziv}}</h1>
            <p>{{restoran.opis}}</p>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="Jelovnik">
            <app-jelovnik></app-jelovnik>
        </mat-tab>
        <mat-tab label="Utisci">
            <app-prikaz-restorana-utisci></app-prikaz-restorana-utisci>
        </mat-tab>
    </mat-tab-group>
</div>
