<section class="mainHeight">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <h1>Uslovi korišćenja</h1>
    
        <div class="clan">
            <h2>Član 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque tincidunt bibendum purus, vel gravida mauris 
                interdum ornare. Nulla scelerisque, magna eget sollicitudin auctor, 
                risus odio ullamcorper tellus, sed aliquet nisl risus eget nisi. 
                Vivamus a aliquet lectus. Donec at congue massa, et varius mi. 
                Etiam non lacus sapien. Mauris id gravida nisl.
            </p>
        </div>
    
        <div class="clan">
            <h2>Član 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque tincidunt bibendum purus, vel gravida mauris 
                interdum ornare. Nulla scelerisque, magna eget sollicitudin auctor, 
                risus odio ullamcorper tellus, sed aliquet nisl risus eget nisi. 
                Vivamus a aliquet lectus. Donec at congue massa, et varius mi. 
                Etiam non lacus sapien. Mauris id gravida nisl.
            </p>
        </div>
    
        <div class="clan">
            <h2>Član 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque tincidunt bibendum purus, vel gravida mauris 
                interdum ornare. Nulla scelerisque, magna eget sollicitudin auctor, 
                risus odio ullamcorper tellus, sed aliquet nisl risus eget nisi. 
                Vivamus a aliquet lectus. Donec at congue massa, et varius mi. 
                Etiam non lacus sapien. Mauris id gravida nisl.
            </p>
        </div>
    </div>
</section>