section > div{
    margin-top: 100px;
}

/* obroci */
mat-card{
    cursor: pointer;
    margin-bottom: 30px;
}

.obroci{
    padding: 30px;
    background-color: #f7f7f7;
}
.naziv-obroka{
    font-weight: bold;
}

.opis-obroka{
    font-style: italic;
    font-size: 13px;
}
.naziv-kategorije{
    font-size: 18px;
    font-weight: bold;
}

/* kategorije */
.kategorije-meni{
    overflow: auto;
    padding-left: 30px;
}

.kategorije-meni > div:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(126, 126, 126, 0.3);
}

.kategorije-meni > div{
    margin: 15px;
}
.kategorije-meni a{
    cursor: pointer;
    color: black;
}

.kategorije-naslov{
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}

.kategorije-meni a div{
    padding-left: 20px;
}

.kategorije-meni-fixed{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

#nemaOmiljeneDiv{
    margin: 0px;
}
#nemaOmiljene{
    height: 468px;
    max-width: 626px;
    padding: 0px 50px;
    background-image: url("../../../assets/slike/food-background.png");
}

#nemaOmiljene p{
    font-size: 22px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}