/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

@import '~ngx-bar-rating/themes/br-fontawesome-o-theme.css';
@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-theme';

html, body{
    font-family: Roboto;
    min-height: 100%;
    margin:0px;
}

.mainHeight{
    min-height: 75vh;
    /*background-color: white;*/
}
.greskaPoruka{
    color:#f44336;
}
a{
    text-decoration: none;
}